//Basic colours TODO REVIEW
$black: #333;
$grey: #999;
$white: #fff;

$color-primary: #E23C5D;
$color-primary-dark: darken($color-primary, 10%);

$color-secondary: #1D86AF;
$color-secondary-dark: darken($color-secondary, 10%);

$color-tertiary: #0A2832;
$color-tertiary-dark: darken($color-tertiary, 10%);


//Components colours
$alert-success: #A9CE03;
$alert-warning: #DCC100;
$alert-error: #FF784B;


//Fonts and font-size
$default-font-family: Arial, sans-serif;
$default-font-size: 14px;


//Sizing
$base-unit: 22px;
$half-unit: $base-unit / 2;
$double-half-unit: $base-unit * 1.5;
$double-unit: $base-unit * 2;
$triple-unit: $base-unit * 3;
$quadruple-unit: $base-unit * 4;


//Misc
$image-base: "/www/media/images";
$container-width: 990px;