//colours
$black: #333;
$grey: #999;
$white: #fff;

$alertSuccess: #A9CE03;
$alertWarning: #DCC100;
$alertError: #FF784B;

$colorPrimary: #E23C5D;
$colorPrimaryDark: darken($colorPrimary, 10%);

$colorSecondary: #1D86AF;
$colorSecondaryDark: darken($colorSecondary, 10%);

$colorTertiary: #0A2832;
$colorTertiaryDark: darken($colorTertiary, 10%);


//text
$defaultFontFamily: Arial, sans-serif;
$defaultFontSize: 14px;


//sizing
$baseUnit: 22px;
$halfUnit: $baseUnit / 2;
$doubleHalfUnit: $baseUnit * 1.5;
$doubleUnit: $baseUnit * 2;
$tripleUnit: $baseUnit * 3;
$quadrupleUnit: $baseUnit * 4;


//other
$imageBase: "/www/media/images";
$containerWidth: 990px;


//functions
@mixin roundedCorners($values) {
	-webkit-border-radius: $values;
	-moz-border-radius: $values;
	-ms-border-radius: $values;
	-o-border-radius: $values;
	border-radius: $values;
}

@mixin boxShadow($style) {
	-webkit-box-shadow: $style;
	-moz-box-shadow: $style;
	box-shadow: $style;
}

@mixin textShadow($style) {
	-webkit-text-shadow: $style;
	-moz-text-shadow: $style;
	text-shadow: $style;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
	transition: $transition;
}

@mixin transform($value) {
	-webkit-transform: $value;
	-moz-transform: $value;
	-ms-transform: $value;
	-o-transform: $value;
	transform: $value;
}