@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dppx) {

	#debug-grid {
		background-image: url("#{$imageBase}/other/gridRetina.png");
		background-size: 22px 22px;
	}

	select {
		background-image: url("#{$imageBase}/other/arrowSelectRetina.png");
		background-size: 16px 8px;
	}

	.flashMessage {
		background-image: url("#{$imageBase}/other/loadingRetina.gif");
	}

}