/**
Feel free to edit this file
*/

.pageDashboard {
	#profilePictureHolder {
		float: right;
		width: 30%;

		img {
			@include roundedCorners(3px);

			max-width: 100%;
			max-height: 440px;
		}
	}

	#updateFormHolder {
		float: left;
		width: 60%;
	}
}

.pageWelcome, .pageUser {
	ul {
		li {
			&.active {
				font-weight: bold;
			}
		}
	}
}

footer {
	@extend .container;
	@extend .centerText;

	p {
		color: $grey;
		font-size: $defaultFontSize - 2px;

		a {
			color: $grey;

			&:hover, &:focus {
				color: darken($grey, 10%);
			}
		}
	}
}