* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, object, iframe, hr,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, b, sub, sup, var, i, em,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, button, textarea, select,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-weight: 300;
  line-height: 1.5; }

html {
  line-height: 1.5;
  font-size: 16px;
  color: #2d2d2c;
  font-family: "Roboto", Helvetica, Arial, sans-serif; }

article, aside, footer, header, menu, nav, section {
  display: block; }

table, tbody, tr, th, td {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1rem; }

nav ul {
  list-style: none; }

mark {
  background-color: #ffff99;
  color: #2d2d2c;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr, dfn {
  border-bottom: 1px dotted;
  cursor: help; }

hr {
  display: block;
  height: 1px;
  border-top: 1px solid #eaeaea;
  margin: 32px 0; }

strong, b {
  font-weight: 500; }

em, i {
  font-style: italic; }

p {
  margin: 16px 0; }
  p:last-child {
    margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Karma", Helvetica, Arial, sans-serif; }

h1, h2, h3 {
  margin: 32px 0 16px; }
  h1:first-of-type, h2:first-of-type, h3:first-of-type {
    margin-top: 0; }
  h1:last-child, h2:last-child, h3:last-child {
    margin-bottom: 0; }

h4, h5, h6 {
  margin: 16px 0 8px; }
  h4:first-of-type, h5:first-of-type, h6:first-of-type {
    margin-top: 0; }
  h4:last-child, h5:last-child, h6:last-child {
    margin-bottom: 0; }

h1 {
  font-size: 2.375rem; }

h2 {
  font-size: 2.125rem; }

h3 {
  font-size: 1.875rem; }

h4 {
  font-size: 1.625rem; }

h5 {
  font-size: 1.375rem; }

h6 {
  font-size: 1.25rem; }

ul {
  margin: 0 0 16px 16px; }
  ul:last-child {
    margin-bottom: 0; }

a, .link {
  color: #ec6450;
  cursor: pointer !important;
  text-decoration: none; }
  a:hover, a:focus, .link:hover, .link:focus {
    color: #c94537;
    text-decoration: underline; }

.alert {
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 1rem;
  background: #dcc100;
  color: #b69f00;
  border: 1px solid #b69f00;
  margin: 0 0 16px 0; }
  .alert.success {
    background: #a9ce03;
    color: #8aa802;
    border: 1px solid #8aa802; }
  .alert.error {
    background: #ff784b;
    color: #ff5b25;
    border: 1px solid #ff5b25; }

.button, button {
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
  padding: 1rem;
  background: white;
  color: #878786;
  border: 4px solid #eaeaea;
  text-decoration: none;
  cursor: pointer !important; }
  .button:hover, .button:focus, button:hover, button:focus {
    border-color: silver; }
  .button.primary, button.primary {
    background: #ec6450;
    color: white;
    border-color: #ef7d67; }
    .button.primary:hover, .button.primary:focus, button.primary:hover, button.primary:focus {
      border-color: #ec6450; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-justify {
  text-align: justify; }

.text-uppercase, .button, button {
  text-transform: uppercase;
  letter-spacing: 0.125rem; }

.text-lowercase {
  text-transform: lowercase; }

.block-center {
  margin-left: auto;
  margin-right: auto; }

.block,
.show {
  display: block !important; }

.hide {
  display: none !important; }

.invisible {
  visibility: hidden; }

.wipe-margin {
  margin: 0; }

.wipe-padding {
  padding: 0; }

.wipe-margin-padding {
  margin: 0;
  padding: 0; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.clearfix {
  clear: both; }
