// This is the stack of primary colors used throughout the interface. They are
// all based on the primary color, being its various shades and tints.
$color-primary-light: #2ecc71
$color-primary: #2ecc71
$color-primary-dark: #2ecc71
// TODO 200 to 800

// This is the stack of primary colors used throughout the interface. They are
// all based on the primary color, being its various shades and tints.
$color-secondary-light: #27ae60
$color-secondary: #27ae60
$color-secondary-dark: #27ae60
// TODO 200 to 800

// This is the stack of all grey colors used throughout the interface.
$color-grey-dark: #878786
$color-grey: #C0C0C0
$color-grey-light: #EAEAEA
// TODO 100 to 900


// This is the replacement of a pure #000 black color. For white color, use
// color: white, which compiles into color: #fff.
$color-black: #2D2D2C


// TODO documentation and review
$color-alert-success: #A9CE03
$color-alert-warning: #DCC100
$color-alert-error: #FF784B