.alert {
	@include rounded-corners(3px);

	min-height: $double-unit;
	background: $alert-warning;
	color: $white;
	margin: 0 0 $base-unit 0;

	p {
		margin: 0 !important;
		padding: $half-unit ($half-unit + 3px) !important;
		line-height: $base-unit;
	}

	&.success {
		background: $alert-success;
	}

	&.error {
		background: $alert-error;
	}
}