::-webkit-input-placeholder {
	color: $grey;
}

:-moz-placeholder {
	color: $grey;
}

::-moz-placeholder {
	color: $grey;
}

:-ms-input-placeholder {
	color: $grey;
}

input,
select,
textarea,
button,
.button,
.input {
	@include boxShadow(none);
	@include roundedCorners(3px);

	background: #eee;
	padding: 0 $halfUnit;
	font-family: $defaultFontFamily !important;
	font-size: $defaultFontSize;
	border: none;
	outline: none;
	color: $black;
	margin: 0 0 $halfUnit;
	height: $doubleUnit;
	text-decoration: none;
	min-width: 220px;

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

	&.inverted {
		background: $white !important;
	}
}

select {
	-webkit-appearance: none;

	min-width: 198px + $baseUnit;
	max-width: 220px + $baseUnit;
	padding: 0 $doubleUnit 0 $halfUnit;
	background-image: url("${imageBase}/other/arrowSelect.png");
	background-repeat: no-repeat;
	background-position: right 14px top 20px;

	@include highRes() {
		background-image: url("#{$imageBase}/other/arrowSelectRetina.png");
		background-size: 16px 8px;
	}
}

textarea {
	height: $tripleUnit;
	resize: vertical;
	padding: $halfUnit;
}

button,
.button {
	cursor: pointer !important;
	line-height: $doubleUnit;
	padding: 0 $baseUnit;
	text-align: center;
	display: inline-block;
	min-width: inherit;
	max-width: inherit;
}

.buttonPrimary {
	background: $colorPrimary;
	color: $white;

	&:hover, &:focus {
		background: darken($colorPrimary, 3.5%);
		color: $white;
		text-decoration: none;
	}

	&.inverted {
		color: $colorPrimary !important;
	}
}

.buttonSecondary {
	background: $colorSecondary;
	color: $white;

	&:hover, &:focus {
		background: darken($colorSecondary, 3.5%);
		color: $white;
		text-decoration: none;
	}

	&.inverted {
		color: $colorSecondary !important;
	}
}

input:invalid,
textarea:invalid {
	color: $alertError;
}

.fileButton {
	position: relative;
	overflow: hidden;
	margin: 0 0 $halfUnit;

	input[type="file"] {
		@extend .wipe;

		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 2;
		cursor: pointer !important;
	}

	.button {
		margin: 0;
	}
}

.flashMessage {
	background: url("${imageBase}/other/loading.gif") no-repeat center center transparent;
	background-size: 22px 22px;
	min-height: $doubleUnit;
	display: none;
	margin: 0 0 $baseUnit;

	@include highRes() {
		background-image: url("#{$imageBase}/other/loadingRetina.gif");
	}
}