footer {
	@extend .container;
	@extend .text-center;

	p {
		color: $grey;
		font-size: $default-font-size - 2px;

		a {
			color: $grey;

			&:hover, &:focus {
				color: darken($grey, 10%);
			}
		}
	}
}

.page-dashboard {
	#settings-holder {
		@include clearfix;

		#profile-picture-holder {
			float: right;
			width: 30%;

			img {
				@include rounded-corners(3px);

				max-width: 100%;
				max-height: 440px;
			}
		}

		#update-form-holder {
			float: left;
			width: 60%;
		}
	}
}

.page-welcome, .page-user {
	ul {
		li {
			&.active {
				font-weight: bold;
			}
		}
	}
}

.page-ooops {
	background: $color-tertiary;
	color: $white;
	text-align: center;
	padding: $double-unit $base-unit;

	.button {
		margin: $base-unit 0 0;
	}

	footer {
		display: none;
	}
}