.button, button
	+border-radius(4px)
	+transition()
	@extend .text-uppercase

	font-size: $base-unit-font-size
	padding: $base-unit-layout
	background: $color-white
	color: $color-grey-dark
	border: 4px solid $color-grey-light
	text-decoration: none
	cursor: pointer !important

	+hover()
		border-color: $color-grey

	&.primary
		background: $color-primary
		color: $color-white
		border-color: $color-primary-light

		+hover()
			border-color: $color-primary